// When color definition differs for dark and light variant,
// it gets @if ed depending on $variant


$base_color: if($variant =='light', #ffffff, #16181C);
$text_color: if($variant == 'light', #363636, #dedede);
$bg_color: if($variant =='light', #F5F6F7, #191B1F);
$fg_color: if($variant =='light', #191B1F, #dedede);

$selected_fg_color: #ffffff;
$selected_bg_color: if($variant == 'light', #C72E2E, #B82525);
$selected_borders_color: darken($selected_bg_color, 20%);
$borders_color: if($variant =='light', darken($bg_color, 10%), lighten($bg_color, 5%));

$link_color: #3484e2;
$link_visited_color: if($variant == 'light', lighten($text_color, 10%), darken($text_color, 15%));

$selection_mode_bg: if($transparency == 'true', transparentize($selected_bg_color, 0.05), $selected_bg_color);
$selection_mode_fg: $selected_fg_color;
$warning_color: #F27835;
$error_color: #FC4138;
$warning_fg_color: white;
$error_fg_color: white;
$success_color: #73d216;
$destructive_color: #f8464c;
$suggested_color: #3484e2;
$destructive_fg_color: white;
$suggested_fg_color: white;

$progress_color: $selected_bg_color;

$drop_target_color: #F08437;

//insensitive state derived colors
$insensitive_fg_color: if($variant == 'light', transparentize($fg_color, 0.45), transparentize($fg_color, 0.55));
$insensitive_bg_color: if($variant == 'light', mix($bg_color, $base_color, 40%), lighten($bg_color, 2%));

$header_bg: black;
@if $transparency=='true' and $variant=='light' { $header_bg: transparentize(#e7e8eb, 0.05); }
@if $transparency=='false' and $variant=='light' { $header_bg: #e7e8eb; }
@if $transparency=='true' and $variant=='dark' { $header_bg: transparentize(#1f1f22, 0.05); }
@if $transparency=='false' and $variant=='dark' { $header_bg: #1f1f22; }
@if $transparency=='true' and $darker=='true' { $header_bg: transparentize(#1f1f22, 0.05); }
@if $transparency=='false' and $darker=='true' { $header_bg: #1f1f22; }

$header_bg_backdrop: if($darker == 'true' or $variant == 'dark', lighten($header_bg, 1.5%), lighten($header_bg, 3%));

$header_border: if($variant == 'light' and $darker=='false', darken($header_bg, 8%), darken($header_bg, 4%));

$header_fg: if($darker == 'true', #dedede, saturate(transparentize($fg_color, 0.2), 10%));

$dark_sidebar_bg: white;
@if $transparency=='true' and $variant=='light' { $dark_sidebar_bg: transparentize(#f2f2f2, 0.05); }
@if $transparency=='false' and $variant=='light' { $dark_sidebar_bg: #f2f2f2; }
@if $transparency=='true' and $variant=='dark' { $dark_sidebar_bg: transparentize(#191B1F, 0.05); }
@if $transparency=='false' and $variant=='dark' { $dark_sidebar_bg: #191B1F; }

$dark_sidebar_fg: $text_color;
$dark_sidebar_border: if($variant == 'light', $dark_sidebar_bg, lighten($dark_sidebar_bg, 5%));

$osd_fg_color: $text_color;
$osd_bg_color: if($variant=='light', transparentize(#fefefe, 0.1), transparentize(#222225, 0.1));

$osd_button_bg: transparentize(lighten($osd_bg_color, 22%), 0.6);
$osd_button_border: transparentize(darken($osd_bg_color, 12%), 0.6);

$osd_entry_bg: transparentize(lighten($osd_bg_color, 22%), 0.6);
$osd_entry_border: transparentize(darken($osd_bg_color, 12%), 0.6);

$osd_insensitive_bg_color: darken($osd_bg_color, 3%);
$osd_insensitive_fg_color: mix($osd_fg_color, opacify($osd_bg_color, 1), 30%);
$osd_borders_color: $osd_button_border;

$panel_bg: darken($dark_sidebar_bg, 4.7%);
$panel_fg: $dark_sidebar_fg;

$entry_bg: if($variant=='light', $base_color, lighten($base_color, 0%));
$entry_border: if($variant == 'light', #cfd6e6, darken($borders_color, 0%));

$header_entry_bg: if($darker == 'true' or $variant == 'dark', transparentize(lighten($header_bg, 22%), 0.6), transparentize($base_color, 0.1));
$header_entry_border: if($darker == 'true' or $variant == 'dark', transparentize(darken($header_bg, 12%), 0.6), transparentize($header_fg, 0.7));

$button_bg: if($variant == 'light', lighten($bg_color, 2%), lighten($base_color, 2%));
$button_border: $entry_border;

$header_button_bg: if($darker == 'true' or $variant == 'dark', transparentize(lighten($header_bg, 15%), 0.6), transparentize($button_bg, 0.1));
$header_button_border: if($darker == 'true' or $variant == 'dark', transparentize(darken($header_bg, 10%), 0.6), lighten($header_fg, 68%));

